body{
    background: #FF0266;

}

.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
justify-content: center;
align-items: center;
}
table td {
    height: 90px;
    width: 90px;
    border-radius: 30px;
    background: #FF0266;
    border: 5px solid #FFFFFF;
    text-align: center;
    cursor: pointer;
    line-height: 1px;
    font-size: 70px;
    color: #FFFFFF;
}
h1{
    text-align: center;
    font-size: 55px;
}
h2{
    color: white;
}
b{
font-size: 40px;

}

p{
    color: white;
    font-size: 30px;
  padding: 10px;

}
button{
    background-color: red;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}